**No More Iterrows**

Don't use Iterrows. We know they are too slow. A simple hack can help you speed up looping through a dataframe faster and efficient. I am demoing here a very simple example, as shown by Manuel Amuategui will save a lot of time while looping through dataframes.

I downloaded the dataset which contains 1.5M records and ran the below in Google Colab. This notebook is available in the github page for your reference below:

In [6]:
import pandas as pd
## load the meta data from the CSV file 
df = pd.read_csv(drive_path + 'Sales.csv')
df.head()

                         Region           Country  ... Total Cost Total Profit
0            Sub-Saharan Africa      South Africa  ...   11023.56      3839.13
1  Middle East and North Africa           Morocco  ...  165258.24    338631.84
2         Australia and Oceania  Papua New Guinea  ...  131288.40     20592.00
3            Sub-Saharan Africa          Djibouti  ...   20142.08     41273.28
4                        Europe          Slovakia  ...  126301.67     62217.18

[5 rows x 14 columns]

In [7]:
df.shape

(1500000, 14)

In [11]:
import timeit

The below code utilizes the Iterrows() way. Simple looing through the dataframe and recording time taken to execute this function. It took a whopping <b>140 seconds</b> to loop through the dataframe!!!

In [13]:
def iterrow_demo():
  countries = []
  for i,r in df.iterrows():
    countries.append(r['Country'])

t = timeit.Timer("iterrow_demo()", globals=globals())
time = t.timeit(1)
print("The function took %fs\n" % (time,))

The function took 140.052834s

The below functions utilizes a simple hack by converting a dataframe to dictionary and looping through the dataframe takes only <b>37 seconds</b>, that's about <b>~4X faster</b> compared to the Iterrows()

In [24]:
def todict_way():
  dict_copy = df.to_dict('records')
  new_countries = []
  for r in dict_copy:
    new_countries.append(r['Country'])
t = timeit.Timer("todict_way()", globals=globals())
time = t.timeit(1)
print("The function took %fs\n" % (time,))

The function took 31.679437s